[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=LayerOverlayExtension
X-Python-2-Compatible=false
Name=Layer Overlay Extension
Comment=An extension to add an overlay of the layer explorer